<div class="product-grid">
    {% for product in products %}
        {% if current_region == 'all' or product.region == current_region %}
        <div class="card">
            <img src="{{ product.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="on_img_box">🏅추천</div>
                <div class="heart_star">
                    <p>❤️ {{ "{:,}".format(product.recommendation_count) }}</p>
                    <p>⭐ {{ product.get_average_rating() }}</p>
                </div>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <div class="card-price">
                    <p>{{ "{:,}".format(product.original_price) }}원</p>
                    <div>
                        {% if g.user %}
                            <h5>{{ "{:,}".format((product.original_price * (1 - product.member_discount_rate))|int) }}원</h5>
                        {% else %}
                            <h5>{{ "{:,}".format(product.original_price) }}원</h5>
                        {% endif %}
                        <p>(회원가입 시 {{ "{:,}".format(product.member_discount_rate * 100)|int }}% 할인)</p>
                    </div>
                </div>
                <div id="card-btn">
                    <a href="{{ url_for('product.sub_product', product_id=product.id) }}" class="btn btn-primary">상세보기</a>
                    <a href="{{ url_for('order.reserve', product_id=product.id) }}" class="btn btn-primary">구매</a>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>