<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3 row-gap-4">
    {% for house in houses %}
        <div class="card"  style="min-height: 400px; display: block !important;">
            <img src="{{ house.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="heart_star">
                    <p>⭐{{ house.rating }}</p>
                </div>
                <h5 class="card-title">{{ house.name }}</h5>
                <p class="card-text">{{ house.description }}</p>
            </div>
        </div>
    {% endfor %}
</div>

