<div id="sub_details">
    {% for item in product_itinerary %}
        <h5>🍱 일정 중 식사 안내</h5>
        <div class="meals-section">
            <p> - 아침: {{ item.meals.breakfast }}</p>
            <p> - 점심: {{ item.meals.lunch }}</p>
            <p> - 저녁: {{ item.meals.dinner }}</p>
        </div>

        <hr>

        <ul class="timeline-list">
        <h5>🕒 세부 시간표</h5>
            {% for time_detail in item.timeline %}
                <li>
                    <h6>[{{ time_detail.time }}] {{ time_detail.icon }} {{ time_detail.title }}</h6>
                    <p>📍 위치: {{ time_detail.location }}</p>
                    <p>📝 안내: {{ time_detail.desc }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

