/* complete.css - Bootstrap 기반 결제 완료 화면 보조 스타일 */

.complete-container {
  max-width: 860px;
  margin: 0 auto;
}
.btn {
    background-color: #1D3557;
    color: #ffffff;
    border-color: #1D3557;
}
.btn:hover {
    background-color: #585b60;
    color: #ffffff;
    border-color: #585b60;
}