* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.wide1 {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

#slider{
    margin-bottom: 30px;
}

.carousel-item{
    width: 100%;
    height: 450px;
    background-size: 100%;
    overflow: hidden;
}
.carousel-item > div{
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    top: 20px;
    left: -550px;
    background-color: white;
    opacity: 0.7;
    width: 250px;
    height: 380px;
}
.carousel-item > div > h5{
    color: black;
    text-align: left;
    font-size: 20pt;
    margin-bottom: 20px;
}
.carousel-item > div > p{
    color: black;
    text-align: left;
    font-size: 14pt;
}

/*슬라이드 밑 nav*/
#underslide > nav{
    width: 100%;
    height: 50px;
    opacity: 0.9;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
}
#underslide > nav > .container-fluid{
    height: 50px;
    width: 600px;
    color: white;
    align-items: center;
}

.navbar-brand{
    width: 100px;
    height: 50px;
    background-color: #FAF8F5;
    color: #212529;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.navbar-brand:not(.active):hover {
    background-color: #1D3557;
    color: white;
}

/* 지도 */
#map-choice{
    width: 350px;
    height: 730px;
    padding: 20px;
    margin-bottom: 20px;
    border-color: #0f172a;
    border-style: solid;
    border-radius: 10px;
}
#map-choice>div{
    margin-bottom: 20px;
}

#map-choice>div>h6{
    font-weight: 700;
    font-size: 15pt;
}

/*지도 밑 버튼*/
.map-btn{
    width: 145px;
    height: 40px;
    background-color: #FAF8F5;
    color: #212529;
    border-radius: 5px;
    border-style: none;
    border-color: none;
}
.map-btn:not(.active):hover {
    background-color: #1D3557;
    color: white;
}

/*상세 이동 버튼*/
.card-body > .heart_star{
    display: flex;
    justify-content: space-between;
}

.card-body > h5{
    font-weight: 700;
}

.card-body > .card-price{
    height: 90px;
    background-color: #FAF8F5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.card-body > .card-price > p{
    margin-top: 5px;
}

.card-body > .card-price > div{
    display: flex;
}

.card-body > .card-price > div > h5{
    font-weight: 700;
    margin-top: -10px;
}

.card-body > .card-price > div > p{
    color: #ED4956;
    font-size: 10pt;
    margin-top: -8px;
    margin-left: 5px;
    font-weight: 600;
}

.card-body > div > a:first-child{
    width: 210px;
    background-color: #1D3557;
    color: #ffffff;
    border-color: #1D3557;
}
.card-body > div > a:last-child{
    width: 85px;
    background-color: #E76F5F;
    color: #ffffff;
    border-color: #E76F5F;
}



/*sub*/
#sub_wide1-1{
    display: flex;
    margin-top: 30px;
}
/*스와이퍼*/
#carouselExample{
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

#mini{
    height: 80px;
    margin: 20px;
    display: flex;
}

#recommend{
    background-color: #FAF8F5;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#recommend > #heart{
    width: 365px;
    margin: 10px 5px 10px 10px;
}

#heart-log{
    width: 100px;
    margin: 10px 5px 10px 0;
    background-color: #faf8f5;
    color: #ED4956;
    border-color: #E76F5F;
    border-style: solid;
    border-radius: 10px;
    font-weight: 700;
}

#heart-log:not(.active):hover {
    background-color: #E76F5F;
    color: white;
}

.white-btn{
    height: 35px;
    padding: 5px;
    background-color: white;
    border-color:#999999;
    border-style: solid;
}


#schedule{
    width: 100%;
    background-color: #FAF8F5;
    margin: 30px 0 10px;
}

#sub-right{
    margin: 10px 20px;
}

#sub-right>h3{
    margin-top: 10px;
    font-weight: bold;
}

#sub-right>p{
    font-size: 12pt;
}

#purchase{
    background-color: #FAF8F5;
    height: 110px;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 10px;
}

#purchase > div{
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.p-left{
    position: relative;
    left: 15px;
}

.p-right{
    position: relative;
}
#purchase>div>h6{
    font-size: 14pt;
    font-weight: 500;
}

#people{
    height: 140px;
    margin: 20px 0;
    padding: 15px;
    border-color: #dddddd;
    border-style: solid;
    border-radius: 10px;
}

#people>button{
    width: 100%;
    height: 40px;
    position: relative;
    top: -5px;
    background-color: #ED4956;
    color: #ffffff;
    border-color: none;
    border-style: none;
    border-radius: 5px;
    font-weight: 500;
}

#log-discount{
    height: 120px;
    margin: 10px 0;
    padding: 15px;
    background-color: #FAF8F5;
    border-radius: 10px;
}

#log-discount>div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#log-discount>div>button:first-child{
    width: 230px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    color: white;
    background-color: #1D3557;
    border-color: #1D3557;
    border-style: solid;
}

#log-discount>div>button:last-child{
    width: 230px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    color: #1D3557;
    background-color: #ffffff;
    border-color: #1D3557;
    border-style: solid;
    font-weight: 700;
}

/*sub 구역2*/
#main-schedule{
    margin: 30px 0;
    border-top: #eeeeee;
    border-top-style: solid;
    padding: 30px 5px 0;
}

#main-schedule > h3{
    font-size: 15pt;
}

#main-schedule > div{
    display: flex;
}

#main-schedule > div > h5{
    font-size: 13pt;
    margin: 15px;
}

#main-schedule > p{
    font-size: 11pt;
    margin: 5px 30px;
}

.nav-link{
    width: 265px;
}

#myTabContent > div{
    height: 600px;
}

.infomation > h5{
    margin: 50px 0 10px;
    font-weight: 700;
}

#log-ad{
    height: 90px;
    margin-top: 50px;
    padding: 0 20px;
    background-color: #E6F2FF;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#log-ad > div > h6{
    margin-top: 5px;
}

#log-ad > div > p{
    margin-top: 15px;
    font-size: 10pt;
    margin: 0;
}

#log-ad > div > button{
    width: 80px;
    height: 35px;
    background-color: white;
    border-radius: 5px;
    border-style: none;
}

#log-ad > div > button:not(.active):hover {
    background-color: #1D3557;
    color: white;
}

.review{
    margin-top: 50px;
}
.review > h5{
    font-weight: 700;
}

.review > div{
    display: flex;
    justify-content: space-between;
}

.review > div > div{
    width: 160px;
    height: 25px;
    background-color: #FFFFDD;
    text-align: center;
    border-radius: 5px;
}

#detail_star{
    display: flex;
    justify-content: space-between;
}
#detail_star > div{
    display: flex;
    justify-content: space-around;
}
#detail_star > div > div{
    margin-left: 10px;
}
#review_box{
    border-color: yellow;
    border-style: solid;
    width: 100%;
    height: 250px;
}