
<div class="info-footer-box-wrap">
    <div class="info-footer-inside">

        <div class="notice-box">
            <h4>📢 공지사항 및 새소식</h4>
            <ul>
                <li>
                    <a href="#">[안내] 2026년 하반기 길마중 특별 전동 열차 패키지 예약 오픈 안내</a>
                    <span style="float: right; font-size: 0.8rem; color: #999;">2026-10-01</span>
                </li>
                <li>
                    <a href="#">[이벤트] 가을 맞이 추억의 가을 여행 패키지 포토후기 이벤트</a>
                    <span style="float: right; font-size: 0.8rem; color: #999;">2026-09-25</span>
                </li>
                <li>
                    <a href="#">[시스템] 하나은행 안전결제 에스크로 서비스 시스템 정기 점검 안내</a>
                    <span style="float: right; font-size: 0.8rem; color: #999;">2026-09-18</span>
                </li>
            </ul>
        </div>

        <div class="cs-box">
            <h4>고객센터</h4>
            <div class="phone">1577-1233</div>
            <div class="time">
                평일 09:00 ~ 18:00 (토/일, 공휴일 휴무)<br>
                점심시간 12:00 ~ 13:00 / 이메일 help@gilmajungtour.com
            </div>
        </div>

    </div>
</div>
