{% extends 'base.html' %}

{% block title %}길마중 - 여행 패키지{% endblock %}

{% block content %}

<div class="gilmajung-main-wrapper" style="all: unset; display: block; width: 100%;">

    {% include 'main_fragments/main_slide.html' %}

    <div class="content-container">

        {% include 'main_fragments/region_theme.html' %}

        {% include 'main_fragments/time_deal.html' %}

        {% include "main_fragments/main_review.html" with context %}

        {% include 'main_fragments/main_notice.html' %}

    </div>

</div>



{% endblock %}
