{% extends 'base.html' %}

{% block title %}
길마중 - 로그인
{% endblock %}

{% block content %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='login.css') }}">
<div class="login-page">
    <div class="login-image">
        <img
            src="{{ url_for('static', filename='img/login-bg.png') }}"
            alt="길마중 여행"
        >
    </div>

    <div class="login-intro">
        <p class="intro-small">
            지금, 떠나기 좋은 순간
        </p>

        <h1>
            일상이 여행이 되는<br>
            특별한 경험
        </h1>

        <p class="intro-description">
            전통의 아름다움과<br>
            새로운 세상을 만나는 여행,<br>
            길마중과 함께하세요.
        </p>

    </div>

    <div class="login-box">
        <div class="login-logo">
            <div class="logo-mark">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h2>길마중</h2>
            <p>
                길마중에 오신 것을 환영합니다.
            </p>
            <small>
                지금 바로 특별한 여행을 시작해보세요.
            </small>
        </div>

        <form
            class="login-form"
            method="POST"
            action="{{ url_for('main.login') }}"
        >
            <div class="input-box">
                <span class="input-icon">
                    ♙
                </span>
                <input
                    type="text"
                    name="username"
                    placeholder="아이디를 입력해주세요"
                    autocomplete="username"
                    required
                >
            </div>
            <div class="input-box">
                <span class="input-icon">
                    ♧
                </span>
                <input
                    type="password"
                    name="password"
                    id="password"
                    placeholder="비밀번호를 입력해주세요"
                    autocomplete="current-password"
                    required
                >
                <button
                    type="button"
                    class="password-view"
                    id="passwordView"
                >
                    ◉
                </button>
            </div>

            <div class="login-options">
                <label>
                    <input
                        type="checkbox"
                        name="remember"
                    >
                    <span>
                        로그인 상태 유지
                    </span>
                </label>
                <div class="find-links">
                    <a href="#">
                        아이디 찾기
                    </a>
                    <span>|</span>
                    <a href="#">
                        비밀번호 찾기
                    </a>
                </div>
            </div>

            <button
                type="submit"
                class="login-button"
            >
                로그인
            </button>
        </form>
        <div class="login-divider">
            <span>또는</span>
        </div>
        <div class="social-login">
            <button
                type="button"
                class="social-button naver"
            >
                <span>N</span>
                네이버 로그인
            </button>
            <button
                type="button"
                class="social-button kakao"
            >
                <span>●</span>
                카카오 로그인
            </button>
            <button
                type="button"
                class="social-button google"
            >
                <span>G</span>
                구글 로그인
            </button>
        </div>
        <div class="signup-prompt">
            아직 회원이 아니신가요?
            <br>
            <div class="signup--button">
                <a href="#" class="signup-button" onclick="openSignupPopup(); return false;">회원가입</a>
            </div>
        </div>
          <div class="login-policy">
            <span>TIP</span>
            <p>
                처음 방문하셨나요?
                <a href="#">이용약관</a>을 확인해주세요.
            </p>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='login.js') }}"></script>

{% endblock %}